
:root {
    min-height: 100%;
    min-width: 100%;
    background-color:white ;
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }
  /*Header format for navigation bar */
  header {
    padding: 40px;
  }

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
  float:right;
  margin-right: 25px;
}



h2 {
font-size: 25px;
color:dodgerblue;
  }



 
h3 {
    font-size: 15px;
    color:dodgerblue;
  }

h3:hover {
    color: #fff;
  }

